
IMTI_main.bbl
IMTI_main.blg
IMTI_main.log
IMTI_main.out
IMTI_main.run.xml
IMTI_main.synctex.gz
IMTI_main-blx.bib
IMTI_main.aux
IMTI_main.run.xml
IMTI_refs.bib.sav
IMTI_main-blx.bib
IMTI_main.run.xml
IMTI_main-blx.bib
IMTI_main.run.xml
IMTI_main.pdf
IMTI_main.pdf
IMTI_main.run.xml
IMTI_main.pdf
IMTI_main.pdf
*.aux
*.log
*.out
*.gz
*.pdf
*.bak
*.sav
